* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 20px;
}

.header {
    color: white;
    text-align: center;
    padding: 15px;
}

.header h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 16px;
    max-width: 1200px;
    width: 90%;
    background: linear-gradient(180deg, #D9D9D9 0%, #737373 100%);
    border-radius: 8px;
}
.form {
    width: 95%; /* Faz com que o formulário ocupe 100% da largura do container */
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
}

.buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    margin-top: 15px;
    width: 100%; /* Faz com que a div ocupe 100% da largura do formulário */
    text-decoration: none;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1; /* Faz com que os botões ocupem a mesma largura */
    margin: 0 5px;
    height: 42px;
}

.buttons button:hover {
    background-color: #e6b800;
}


.image-placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.image-placeholder img {
    width: 156px;
    height: 126px;
    flex-shrink: 0;
}

.coluna1, .coluna2 {
    flex: 1; /* Cada coluna ocupa a mesma largura */
}

select, input {
    width: 100%; /* Faz com que os inputs ocupem 100% da largura da coluna */
    padding: 10px; /* Espaçamento interno */
    margin-top: 10px; /* Espaçamento entre os elementos */
    border: 2px solid #ccc; /* Borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
}

input:disabled {
    cursor: default;
    background-color: rgb(247 246 246 / 78%);
    color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}

textarea:disabled{
    cursor: default;
    background-color: rgb(247 246 246 / 78%);
    color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}

.form textarea {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 7px;
    font-size: 13px;
    height: 110px;
}

.container2 {
    display: flex; /* Usando flexbox para organizar as colunas */
    justify-content: center; /* Centraliza colunas */
    gap: 25px; /* Espaçamento entre as colunas */
    margin-bottom: 10px;

}

select, input, textarea {
    width: 100%; /* Faz com que os inputs ocupem 100% da largura da coluna */
    padding: 10px; /* Espaçamento interno */
    margin-top: 10px; /* Espaçamento entre os elementos */
    border: 2px solid #ccc; /* Borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: box-shadow 0.3s; /* Transição suave para a sombra */
}

/* Sombra mais escura ao focar nos inputs */
select:focus, input:focus, textarea:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra mais pronunciada ao focar */
    border-color: #ffcc00; /* Muda a cor da borda ao focar */
}

.buttons-search {
    
    margin-top: 15px;
    text-decoration: none;
    margin-bottom: 20px;
}

.buttons-search button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1; /* Faz com que os botões ocupem a mesma largura */
    margin: 0 5px;
    height: 42px;
    width: 150px;
}

.buttons-search button:hover {
    background-color: #e6b800;
}

.buttons-edit {
    margin-top: 15px;
    text-decoration: none;
    margin-bottom: 20px;
}

.buttons-edit button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1; /* Faz com que os botões ocupem a mesma largura */
    margin: 0 5px;
    height: 42px;
    width: 150px;
}

.buttons-edit button:hover {
    background-color: #e6b800;
}

.BotoesFooter{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img {
    width: 156px;
    height: 126px;
    flex-shrink: 0;
    margin-top: -20px;
    
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .buttons {
        flex-direction: column;
        gap: 6px;
    }

    .buttons button {
        width: 95%;
    }
}